<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- <%= JSON.stringify(userEdit) %> -->
    <div class="topnav">
        <a  href="/">Home</a>
        <a  href="/create">Delete users</a>
    </div>

    <div class="form-add-new">
        <form action="/delete-user" method="post">  

            <fieldset>
                <legend>Delete a user</legend>
                <div class="input-group d-none">
                    <label for="">ID: </label>
                    <input type="text" name="userId" value="<%= userEdit.id %>">
                </div>

                <div class="input-group">
                    <label for="">Are you sure to delete user with this email: </label>
                    <input type="text" name="email" value="<%= userEdit.email %>">
                </div> <br>
                
                <div>
                    <button>Delete</button>
                </div>
            </fieldset>
        </form>

    </div>
</body>
</html>